{% include need["type"] + "_pre_extra_options.rst.j2" ignore missing %}
{% include "extra_options.rst.j2" %}
{% include need["type"] + "_post_extra_options.rst.j2" ignore missing %}
{% include need["type"] + "_pre_link_options.rst.j2" ignore missing %}
{% include "link_options.rst.j2" %}
{% include need["type"] + "_post_link_options.rst.j2" ignore missing %}
