{% include need["internal"]["type"] + "_options_fields_pre.rst.j2" ignore missing %}
{% include "options_fields.rst.j2" %}
{% include need["internal"]["type"] + "_options_fields_post.rst.j2" ignore missing %}
{% include need["internal"]["type"] + "_options_links_pre.rst.j2" ignore missing %}
{% include "options_links.rst.j2" %}
{% include need["internal"]["type"] + "_options_links_post.rst.j2" ignore missing %}
